In [1]:
# Importing usefull libraries for data pre-processing and in order to run Machine Learning model

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
# Reading dataframe

In [4]:
df = pd.read_csv('DSS2.csv')

In [5]:
# Displaying columns

In [6]:
df.columns

Index(['Titre', 'Réalisateur', 'Scénariste', 'Compositeur', 'Directeur photo',
       'Directeur montage', 'Acteur 1', 'Acteur 2', 'Acteur 3', 'Genre',
       'Popularité genre', 'Popularité thème', 'Rareté émotion', 'Référence',
       'Budget (M$)', 'Box Office (M$)', 'Rentabilité (%)', 'Succès'],
      dtype='object')

In [7]:
######################################################################################################################

In [8]:
# Getting unique Id and the feature we wanna target

In [9]:
Id = 'Titre'
target = 'Rentabilité (%)'

In [10]:
# Getting categorical features in order to transorm it later into "dummies"

In [11]:
features_categ = [u'Réalisateur', u'Scénariste', u'Compositeur', u'Directeur photo', u'Directeur montage',
             u'Acteur 1', u'Acteur 2', u'Acteur 3', u'Genre']

In [12]:
# Getting numerical features

In [13]:
features_numerical = ['Popularité genre', 'Popularité thème', 'Rareté émotion', 'Référence',
       'Budget (M$)']

In [14]:
# Defining which column we want to keep

In [15]:
to_keep = [Id] + features_numerical + features_categ + [target]

In [16]:
# Getting in the our datafame only the column we want to keep

In [17]:
df = df[to_keep]

In [18]:
# Getting dummies on categorials features

In [19]:
df = pd.get_dummies(df, columns = features_categ)

In [20]:
# Creating train and test dataframes by dividing df into two different dataframes

In [21]:
df_train = df[:258]
df_test = df[258:]

In [22]:
# Dropping Id and Target inside intputs: X_train and X_test

In [23]:
X_train = df_train.drop([Id,target],axis=1)
X_test = df_test.drop([Id,target],axis=1)

In [24]:
# Getting outputs as y_train and y_test

In [25]:
y_test = df_test[target]
y_train = df_train[target]

In [26]:
# Creating Linear Regression

In [27]:
clf = LinearRegression()

In [28]:
# Training the model using the training dataset

In [29]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
# Making the predictions with Linear Regression

In [31]:
clf.predict(X_test)

array([-106.30736709,  398.81400814,  588.17323245,  390.05633489,
        822.21844172,  199.50606205,  408.17171639,   33.29785941,
        600.25709917,  985.19071282,   59.37046818,  466.13386073,
         85.92174278,  -58.07428243,  893.09830494, 3032.94888262,
        359.79316769,  161.26653239,  957.89077346, 1243.48647022])

In [32]:
# Creating y_pred variable representing the predictions made by the model on "Rentabilité" feature
# for each row we wanted to predict

In [33]:
y_pred = clf.predict(X_test)

In [34]:
################################
#### performance indicators ####

In [35]:
mse = mean_squared_error(y_test, clf.predict(X_test))

In [36]:
mse

349247.4245181332

In [37]:
np.sqrt(mse)

590.971593664309

In [38]:
clf.score(X_test,y_test)

-0.595710904274718

In [39]:
#### performance indicators ####
################################

In [40]:
# Getting values we need for the analyze inside X_test dataframe

In [41]:
X_test['Titre'] = df_test.Titre

In [42]:
X_test['y_pred'] = y_pred

In [43]:
X_test['y_test'] = y_test

In [44]:
X_test

,Popularité genre,Popularité thème,Rareté émotion,Référence,Budget (M$),Réalisateur_Adam McKay,Réalisateur_Adam Robitel,Réalisateur_Alejandro González Iñárritu,Réalisateur_Alex Garland,Réalisateur_Alex Proyas,...,Genre_Horreur,Genre_Policier,Genre_Romance,Genre_SF,Genre_Super-héros,Genre_Thriller,Genre_Western,Titre,y_pred,y_test
258,2,2,1,1,90.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Once upon a time in Hollywood,-106.307367,288.888889
259,2,2,2,3,60.0,1,0,0,0,0,...,0,0,0,0,0,0,0,Vice,398.814008,26.833333
260,2,2,2,3,15.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Blackklansman,588.173232,522.000000
261,2,2,2,2,15.0,0,0,0,0,0,...,0,0,0,0,0,0,0,The Favourite,390.056335,539.333333
262,3,2,2,3,23.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Green book,822.218442,1302.608696
263,3,3,3,2,200.0,0,0,0,0,0,...,0,0,0,1,0,0,0,Alita,199.506062,102.450000
264,3,1,2,0,10.0,0,0,0,0,0,...,0,0,0,0,0,0,0,The Dead don't die,408.171716,39.000000
265,2,1,1,1,150.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Detective Pikachu,33.297859,187.733333
266,2,2,3,3,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Rocketman,600.257099,381.000000
267,0,2,2,1,9.0,0,1,0,0,0,...,1,0,0,0,0,0,0,Escape room,985.190713,1630.000000
268,3,1,0,0,30.0,0,0,0,0,0,...,0,0,0,1,0,0,0,Replicas,59.370468,-70.000000
269,3,0,1,1,11.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Fighting with my family,466.133861,255.454545
270,1,0,0,0,23.0,0,0,0,0,0,...,0,0,0,0,0,0,0,The Aftermath,85.921743,-60.000000
271,2,1,0,1,20.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Tolkien,-58.074282,-61.000000
272,0,1,3,1,11.0,0,0,0,0,0,...,1,0,0,0,0,0,0,Parasite,893.098305,719.090909
273,0,2,2,1,20.0,0,0,0,0,0,...,1,0,0,0,0,0,0,Us,3032.948883,1173.500000
274,1,2,1,2,50.0,0,0,0,0,0,...,0,0,0,0,0,0,0,The Mule,359.793168,245.000000
275,2,2,2,1,26.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Yestersday,161.266532,427.307692
276,2,3,3,3,59.0,0,0,0,0,0,...,0,0,0,0,0,0,0,Firstman,957.890773,79.152542
277,1,1,1,2,12.0,0,0,0,0,0,...,0,0,1,0,0,0,0,If Beale Street Could Talk,1243.486470,71.666667