In [1]:
# Importing usefull libraries for data preprocessing and in order to run Machine Learning model

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
# Reading dataframe

In [4]:
df = pd.read_csv('../data/movies_data.csv')

In [5]:
# Display columns

In [6]:
df.columns

Index(['Titre', 'Réalisateur', 'Scénariste', 'Compositeur', 'Directeur photo',
       'Directeur montage', 'Acteur 1', 'Acteur 2', 'Acteur 3', 'Genre',
       'Popularité genre', 'Popularité thème', 'Rareté émotion', 'Référence',
       'Budget (M$)', 'Box Office (M$)', 'Rentabilité (%)', 'Succès'],
      dtype='object')

In [7]:
######################################################################################################################

In [8]:
# Getting unique Id and the feature we wanna target

In [9]:
Id = 'Titre'
target = 'Rentabilité (%)'

In [10]:
# Getting numerical features

In [11]:
features_numerical = ['Popularité genre', 'Popularité thème', 'Rareté émotion', 'Référence','Budget (M$)']

In [12]:
# Defining which column we want to keep

In [13]:
to_keep = [Id] + features_numerical + [target]

In [14]:
# Getting in the our datafame only the columns we want to keep

In [15]:
df = df[to_keep]

In [16]:
# Creating train and test dataframes by dividing df into two different dataframes

In [17]:
df_train = df[:258]
df_test = df[258:]

In [18]:
# Dropping Id and Target inside intputs: X_train and X_test

In [19]:
X_train = df_train.drop([Id,target],axis=1)
X_test = df_test.drop([Id,target],axis=1)

In [20]:
# Getting outputs as y_train and y_test

In [21]:
y_test = df_test[target]
y_train = df_train[target]

In [22]:
# Assigning Linear Regression as our regression model

In [23]:
regression_model = LinearRegression()

In [24]:
# Training the model using the training dataset

In [25]:
regression_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
# Making the predictions with Linear Regression

In [27]:
regression_model.predict(X_test)

array([226.61818962, 586.57818908, 657.08420148, 557.41688668,
       594.12518026, 329.78057423, 316.46664355, 133.58517719,
       731.5355562 , 567.99961157,  57.88791483, 301.92080055,
       170.67975887, 223.64785139, 679.46237672, 550.76480854,
       439.38213445, 440.51476886, 700.79134688, 499.89554901])

In [28]:
# Creating y_pred feature representing the predictions made by the model on "Rentabilité" feature
# for each row we wanted to predict

In [29]:
y_pred = regression_model.predict(X_test)

In [30]:
################################
#### performance indicators ####

In [31]:
mse = mean_squared_error(y_test, regression_model.predict(X_test))

In [32]:
mse

168496.48427952194

In [33]:
np.sqrt(mse)

410.483232641142

In [34]:
regression_model.score(X_test, y_test)

0.23013984235458063

In [35]:
#### performance indicators ####
################################

In [36]:
# Getting values we need for analyze inside X_test dataframe

In [37]:
X_test['Titre'] = df_test.Titre

In [38]:
X_test['y_pred'] = y_pred

In [39]:
X_test['y_test'] = y_test

In [40]:
X_test

,Popularité genre,Popularité thème,Rareté émotion,Référence,Budget (M$),Titre,y_pred,y_test
258,2,2,1,1,90.0,Once upon a time in Hollywood,226.618190,288.888889
259,2,2,2,3,60.0,Vice,586.578189,26.833333
260,2,2,2,3,15.0,Blackklansman,657.084201,522.000000
261,2,2,2,2,15.0,The Favourite,557.416887,539.333333
262,3,2,2,3,23.0,Green book,594.125180,1302.608696
263,3,3,3,2,200.0,Alita,329.780574,102.450000
264,3,1,2,0,10.0,The Dead don't die,316.466644,39.000000
265,2,1,1,1,150.0,Detective Pikachu,133.585177,187.733333
266,2,2,3,3,40.0,Rocketman,731.535556,381.000000
267,0,2,2,1,9.0,Escape room,567.999612,1630.000000
268,3,1,0,0,30.0,Replicas,57.887915,-70.000000
269,3,0,1,1,11.0,Fighting with my family,301.920801,255.454545
270,1,0,0,0,23.0,The Aftermath,170.679759,-60.000000
271,2,1,0,1,20.0,Tolkien,223.647851,-61.000000
272,0,1,3,1,11.0,Parasite,679.462377,719.090909
273,0,2,2,1,20.0,Us,550.764809,1173.500000
274,1,2,1,2,50.0,The Mule,439.382134,245.000000
275,2,2,2,1,26.0,Yestersday,440.514769,427.307692
276,2,3,3,3,59.0,Firstman,700.791347,79.152542
277,1,1,1,2,12.0,If Beale Street Could Talk,499.895549,71.666667